version: '3'
services:
  game_store:
    image: "redis:6.0-rc-buster"
    ports: 
      - "6379:6379"
    restart: always
  
  socketio_pubsub:
    image: "redis:6.0-rc-buster"
    ports: 
      - "6380:6379"
    restart: always

  game_server:
    build:
      context: ./
      dockerfile: ./src/back/server/game_server/Dockerfile
    ports:
      - "8001:8000"
    volumes:
      - ./src/back:/src/back
    restart: always
  
  game_god:
    build:
      context: ./
      dockerfile: ./src/back/server/game_god/Dockerfile
    ports:
      - "8002:8000"
    volumes:
      - ./src/back:/src/back
    restart: always
