version: '3.7'
services:
  zookeeper:
    image: bitnami/zookeeper:latest
    environment:
      - ALLOW_ANONYMOUS_LOGIN=yes
    restart: always

  data_stream:
    image: bitnami/kafka:latest
    depends_on:
      - zookeeper
    environment:
      - KAFKA_CFG_ZOOKEEPER_CONNECT=zookeeper:2181
      - ALLOW_PLAINTEXT_LISTENER=yes
      # # https://rmoff.net/2018/08/02/kafka-listeners-explained/
      - KAFKA_CFG_LISTENERS=PLAINTEXT://data_stream:9092
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://data_stream:9092
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=PLAINTEXT:PLAINTEXT
      - KAFKA_CFG_INTER_BROKER_LISTENER_NAME=PLAINTEXT
    ports:
      - target: 9092
        published: 9092
    restart: always
  
  game_store:
    image: "redis:6.0-rc-buster"
    command: sh -c "rm -f /data/dump.rdb && redis-server"
    ports:
      - target: 6379
        published: 6379
    restart: always
  
  socketio_pubsub:
    image: "redis:6.0-rc-buster"
    command: sh -c "rm -f /data/dump.rdb && redis-server"
    ports:
      - target: 6379
        published: 6380
    restart: always

  game_god:
    build:
      context: ./  # runs the Dockerfile as if from workspace dir
      dockerfile: ./src/back/services/game_god/Dockerfile
    depends_on:
      - game_store
      - socketio_pubsub
      - data_stream
    ports:
      - target: 6066
        published: 6066
    volumes:
      - ./src/back:/presidents/src/back
    restart: always

  game_server:
    build:
      context: ./
      dockerfile: ./src/back/services/game_server/Dockerfile
    depends_on:
      - game_god
    ports:
      - target: 80
        published: 8000
    volumes:
      - ./src/back:/presidents/src/back
    restart: always

  hand_play_pinger:
    build:
      context: ./
      dockerfile: ./src/back/services/hand_play_pinger/Dockerfile
    depends_on:
      - game_server
    ports:
      - target: 6066
        published: 6067
    volumes:
      - ./src/back:/presidents/src/back
    restart: always

  bot_farm:
    build:
      context: ./
      dockerfile: ./src/back/services/bot_farm/Dockerfile
    depends_on:
      - hand_play_pinger
    ports:
      - target: 80
        published: 8001
    volumes:
      - ./src/back:/presidents/src/back
    restart: always
