[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
pytest = "*"
pylint = "*"
mypy = "*"
flake8 = "*"
jupyterlab = "*"

[packages]
python-socketio = "*"
numpy = "*"
llist = "*"
bidict = "*"
aioredis = "*"
uvloop = "*"
fastapi = "*"
uvicorn = "*"
aiofiles = "*"
aiocqlengine = "*"
pyjwt = "*"
argon2-cffi = "*"
passlib = "*"
requests = "*"
python-multipart = "*"
protobuf = "*"
robinhood-aiokafka = "*"
faust = {extras=['fast'], version="*"}


[requires]
python_version = "3.8"
