[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
ipython = "*"
python-socketio = "*"
numpy = "*"
llist = "*"
bidict = "*"
cassandra-driver = "*"
pytest = "*"
pylint = "*"
mypy = "*"
flake8 = "*"
jupyterlab = "*"
aioredis = "*"
uvloop = "*"
pytest-asyncio = "*"
uvicorn = {editable = true,path = "./../uvicorn"}
fastapi = "*"
requests = "*"
pytest-xdist = "*"
faust = {extras = ["debug", "fast", "uvloop"],version = "*"}
robinhood-aiokafka = "*"
eventlet = "*"

[requires]
python_version = "3.7"
