[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ipython = "*"
python-socketio = "*"
numpy = "*"
llist = "*"
bidict = "*"
gunicorn = "*"
eventlet = "*"
pytest = "*"
faust = {extras = ["eventlet"],version = "*"}
asgiref = "*"
cassandra-driver = "*"
pandas = "*"
pylint = "*"
bandit = "*"
mypy = "*"
flake8 = "*"
Flask = "*"
Flask-SocketIO = "*"
mypy_extensions = "*"
confluent-kafka = "*"
aiocassandra = {editable = true,git = "https://github.com/CharAct3/aiocassandra",ref = "add_cqlengine"}

[requires]
python_version = "3.7"
