flask==1.0.2
flask-socketio==3.0.1
flask_wtf==0.14.2
wtforms==2.2.1
numpy==1.15.0
bidict==0.17.2
llist==0.6
mypy_extensions==0.3.0
gunicorn==19.9.0
gevent==1.3.5
gevent-websocket==0.10.1
deepdish==0.3.6