ipython
flask
flask_socketio
python_socketio
numpy
llist
bidict
gunicorn
eventlet
pytest
faust[eventlet]
asgiref
cassandra_driver
pandas

# for linting
pylint
bandit
mypy
mypy_extensions
flake8